body {
  margin: 0;
}

.masthead {
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.5) 0%, rgba(92, 77, 66, 0.8) 100%), url("../images/index-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 100vh;
}

.title {
  color: rgba(214, 128, 144, 0.8);
  font-size: 5rem;
  font-family: serif;
}

.divider {
  height: 0.2rem;
  max-width: 3.25rem;
  margin: 1.5rem auto;
  background-color: #B99E81;
  opacity: 1;
}

.subtitle {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.6rem;
}

.ek-navbar {
  transition: opacity 2s ease-out;
  opacity: 0;
  background-color: transparent;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 56px;
}

.ek-navbar.active {
  opacity: 1;
}

.ek-nav-item {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1rem;
  text-decoration: none;
}

.ek-nav-item:hover {
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  text-decoration: underline;
}
